composer.phar
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

.codio/

# We use the Ruby of Rails .env concept here and store env vars in. 
# But do not put these in source so add ignore here
.env
